
<div class="row">
 
    <center>
      <h2><strong>Searching inside yourself: The Unexpected Path to Achieving Success, 
        Happiness(and World Peace)</strong>
      </h2>
      <h3>
        <strong>
          Chapter 3 - Extending the Benefits of Mindfulness beyond Sitting
        </strong>
      </h3>
    </center>
  </div>
 
 <div class="row2">
   
      <h3>What did you learn from your mindfulness conversation?</h3>
        <p>
          For my little experiment this week I asked my neighbour over for coffee with the idea of not 
          telling her what I was going to do. My neighbour and I have a great friendship and we enjoy 
          a catch up over coffee. However much a good listener I think myself to be, this week was an 
          opportunity for me to really test my ability at being patient. I practised listening without 
          judgement as she talked nodding and encouraging as she talked. It really wasn't that hard to 
          do I also found that I like to hear what others have to say and observe them openly. I find 
          I learn a lot about a person this way.  As the book suggested talking continuously for three 
          minutes was a hard for mr to maintain. I found when it was my turn to talk I rather enjoyed 
          being heard.
        </p> 

</div>
<div class="row2">
  
      <h3>Which of the three techniques will you use to sustain you practice?</h3>
        <p>         
          As the author suggests "sustaining a mindfulness practice often lasts only a few months. It's 
          like starting an exercise regime."
        </p> 
        <p> 
          For myself I find this to be true. Weekly life at home is luckily very structured. Even though I 
          manage home work, and mindfulness for 2 minutes a day is great but I would like to increase this 
          time. I am up early most mornings so adding this to my regular routine is welcomed.
        </p>            
    </div>

<center>
    <h3>
        Mindfulness, I declare, is useful everywhere. — <strong>Buddha</strong>
    </h3>
  </center>
 