
<div class="row">
 
    <center>
      <h2>
        <strong>
          Search Inside Yourself: The Unexpected Path to Achieving Success, 
          Happiness(and World Peace)
        </strong>
      </h2>
      <h3>
        <strong>
          Chapter 5 - Developing Self-Mastery
        </strong>
      </h3>
    </center>
  </div>

    <div class="borderline">
        <h3>
          <strong>
            When programming, what are some of your triggers? 
          </strong>
        </h3>
          <p>
            When I hit a wall with respects to my code, I have thoughts of self-doubt and my internal dialogue 
            takes over and hi-jacks my confidence. This is ultimately and usually before I've had a chance to
            problem solve, trouble shoot or research anything I might have missed in my learning. The other
            time I experience this is when I have overworked myself. In my pursuit to learn I find I tend 
            to push myself to grasp a method I may struggle to understand.
          </p>        
      </div>
  <div class="borderline">
    <h3>
      <strong>
        What causes a disproportionate emotional response?
      </strong>
    </h3>
      <P>
          If I am being honest with myself, I knowingly place a lot of pressure to perform and learn to a 
          fault at times. I accept that this is a part of who I am, I like to be successful in all I set 
          to achieve. I believe I do not like to fail, though I rationally believe it is a part of learning 
          and a part of everyday life. I tend to hold myself to a higher standard because of my past failings.
      </P>
  </div>

  <div class="borderline">
    <h3>
      <strong>
        How did you find the Siberian North Railroad exercise (Stop, Breathe, Notice, Reflect, Respond)?
      </strong>
    </h3> 
    <p>
        Today while working through Sprint 6, I attempted the SNRR exercise.
        
        1. Stop - Stopping all thought was quiet hard to do, I find that I think very quickly, a
        little too quickly. And trying to halt my thought process was very difficult. It took a couple
        of tries.
 
        2. Breathe - Taking in a long deep breathe, inhaling and exhaling I thought of nothing else but
        breathing this gave me the mental space away from thinking about solving the problem.
 
        3. Notice and 4. Reflect - Next I stopped to notice my emotions I felt a little nervous and 
        anixous. I like to finish things especially my train of thought. Then I reflected on where I was 
        and why I felt that way I did.
        5. Respond - After a few short counts I let my new problem solving plan play out.
    </p>        
  </div>


<center>
  <h3>
      One can have no smaller or greater mastery than mastery of oneself.
        — <strong>Leonardo da Vinci</strong>
  </h3>
</center>
 