
<div class="row">
 
    <center>
      <h2>
        <strong> 
          Search Inside Yourself: The Unexpected Path to Achieving Success, 
          Happiness(and World Peace)
        </strong>
      </h2>
      <h3>
        <strong>
          Chapter 6 - The Art of Self-Motivation
        </strong>
      </h3>
    </center>
  </div>
<div class = "borderline">
    <h3>
      <strong>
        How does life look through the 'pleasure, passion and purpose' lens? 
        What are your core values?
      </strong>
    </h3>
      <p>
        Family - Dependable, loyal, compassionate and understanding.
        Team Work - United in collaboration and growth while working together towards a common goal.
        Passion & purpose - Welcome challenges by exceling and embracing opportunities. 
      </p>          
   </div>

    <div class = "borderline">
      <h3>
        <strong>
          What do you stand for?
        </strong>
      </h3>
        <p>
          Loyalty, intergrity and hardwork - This is because I have tired to live by these two qualities
          by which and choose to still live my life by. I would like to think I have done the best I can 
          to cultivate and envoke these qualities in my family.           
        </p>         
      </div>
 <div class = "borderline">
        <h3>
          <strong>
            How did you find the resilience ideas and meditation exercise?
          </strong>
        </h3>
          <p>
           Following the instrutcions, I calmed my mind and focused on my breathing. Focussing on my 
           breathing appears to be affective in shutting down the internal dialogue which can be hard for me
           to do at a drop of a hat. It was hard to go through my own personal sense of failure and times
           in my life I felt I had failed. No one likes to experience failure, but those moments helped me 
           grow. Thinking about success was easyier to do, there was no surprise there it was easier to 
           be proud of my accomplishments.
           </p>         
      </div>
   
<center>
<h3>
        The most venerable, clearly understood, enlightened, and reliable constant in the world is not only that we want to be happy, but that we want only to be so. Our very nature requires it of us.
        —<strong>Saint Augustine</strong>
</h3>
</center>
  