<footer>
    <strong>Follow me</strong>    
      <div class="social-bar">
        <a href="https://github.com/indigogeorgiana" class="fa fa-github-square" style="font-size:2.250em"></a>
        <a href="https://plus.google.com/u/0/105371997975696575090" class="fa fa-google-plus-square" style="font-size:2.250em"></a>
        <a href="https://www.linkedin.com/in/indigo-phillips-b853ab160/" class="fa fa-linkedin-square" style="font-size:2.250em"></a> 
        <a href="https://www.freecodecamp.org/indigogeorgiana" class="fa fa-free-code-camp" style="font-size:2.250em"></a>
        <a href="https://twitter.com/GhostWriterGurl?lang=en" class="fa fa-twitter-square" style="font-size:2.250em"></a>
       </br>
       2018 &#169; Web Dev Wannabe
      </div>
  </footer>