/********************************************************************/
/****OTHER PAGE CONTENT*****/

body, html {
	margin: 0;
	height:100%;
	}

ul li {
	font-family: Calibri;
	font-size: 110%;
	padding: 20px 90px 10px 150px;
	color: #000;
	}	

ul.a {
	list-style-position: inside;
	padding: 0 50px 0px 15px;
	}

nav h1 {
	padding: 0 10px 0 80px;
	display: inline-block;
	background: black;
	}

p 	{
	font-family: Calibri;
	font-size: 120%;
	padding: 20px 90px 10px 150px;
	color: #000;
	}
/***************************************************************************************/
/* Main Headings*/

h1 {
	font-size: 200%;
	font-family: Calibri;
	font-weight: bold;
	padding: 5px 15px 5px 100px;
	color: white;
	display: inline;
	}

.h1 {
	font-family: Calibri;
	font-size: 190%;
	text-align: center;
	padding: 10px 0 20px 20px;
	color: black;
	}	

/* Second Heading*/
.h2 {
	font-family: Calibri;
	font-size: 120%;
	text-align: left;
	padding-left: 140px;
	padding-top: 20px;
	color: #000;
	}
	
/* Heading Three */		
.h3 {
	font-family: Calibri;
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	padding: 10px 0 20px 20px;
	color: black;
	}

/* Web Page Headers*/
header {
	padding: 10px 10px 5px 150px;
	background:black;
	color:white;
	opacity: 0.7;
	}

/***********************************************************************************/
/*IMAGE CONTENT*/

/* Homepage(Index Page) Background Image*/
.background {
/* The image used */
	background-image: url("../img/workoffice.jpg");
	height: 100%;
	margin: 0;
	
/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	}

/*About Me Blog - Image */	
.background6 { 
	background-image: url("../img/tukutuku.jpg");
	height: 150%; 
	margin:0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	}	

/* Reflection Blog One - Image */
.background1 { 
	background-image: url("../img/pinkgeo.png");
	height: 260%;
	margin:0; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	}

/*c1-time and habits reflection - Image*/
.background2 { 
	background-image: url("../img/whitewash.jpg");
	height: 220%; 
	margin:0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	}

/*Udacity Blog Part 1 - Images*/	
.background3 { 
	background-image: url("../img/geometric.png");
	height: 500%; 
	margin:0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	}

/*Ucadity Blog Part 2 - Images */
.background4 { 
	background-image: url("../img/space.jpg");
	height: 220%; 
	margin:0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	}
	
/*Emotional Intelligence Blog - Images */	
.background5 { 
	background-image: url("../img/zigzag.jpg");
	height: 150%; 
	margin:0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	}
	
/*************************************************************************/
 /* Index/Homepage -  Dropdown Button*/
 .dropbtn1 {
    background-color: #00e600;
    color: #333333;
    padding: 16px;
    font-size: 16px;
    border: none;
	cursor: pointer;
	}
 	
/**********************************************************************************/
/* Udacity Blog Part One - Dropdown Button*/
.dropbtn8 {
    background-color: orangered;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	}	  

 /*Udacity Blog Part 1 - Buttons */
 input.MyButton4 {
	width: 250px;
	padding: 20px;
	cursor: pointer;
	font-weight: bold;
	font-size:110%;
	background-color: orangered;
	color: black;
	border: 3px solid black;
	border-radius: 5px;
	float: right;
	}
input.MyButton4:hover {
	background: #ffb833;
	color: white;
	border: 3px solid #fff;
	}	

/*********************************************************************************************/
/* Udacity Part 2 Page Dropdown Button 2*/
.dropbtn2 {
    background-color: #ffb3b3;
    color: #ff1a1a ;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	}

/*Udacity Part 2 Dropdown Header Button 3 */
.dropbtn3 {
    background-color:#b3b3ff;
    color: #8000ff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	}

/* Udacity Part 2 Dropdown Header Button 4*/
.dropbtn4 {
    background-color: #b3ffff;
    color: #00cccc;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	}

/*Udacity Part 2 Bottom Button*/
input.MyButton5 {
	width: 250px;
	padding: 20px;
	cursor: pointer;
	font-weight: bold;
	font-size:110%;
	background:#6600ff;
	border: 3px solid #0d0e11;
	border-radius: 5px;
	float: right;
	}
input.MyButton5:hover {
	background-color:#8533ff;
    color: #8000ff;
	border: 3px solid #fff;
	}
	
/**********************************************************************************/
/* Time & Habits Blog Dropdown Header Buttons*/
.dropbtn5 {
    background-color:#ffff00;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	}
/* Time & Habits Blog Bottom Page Button */
input.MyButton3 {
	width: 250px;
	padding: 20px;
	cursor: pointer;
	font-weight: bold;
	font-size:110%;
	background-color:#ffff00;
    color: black;
	border: 3px solid black;
	border-radius: 5px;
	float: right;
	}
input.MyButton3:hover {
	background: black;
	color: white;
	border: 3px solid #fff;
	}
/*************************************************************************/
/* Emotional Intel Blog - Dropdown Button */
.dropbtn6 {
    background-color:#66a3ff;
    color: #003d99;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	}

/* Emotional Intel Blog - Bottom Button */
input.MyButton6 {
	width: 250px;
	padding: 20px;
	cursor: pointer;
	font-weight: bold;
	font-size:110%;
	background-color:#66a3ff;
    color: #003d99;
	border: 3px solid blue;
	border-radius: 5px;
	float: right;
	}
input.MyButton6:hover {
	background: #2196F3;
	color: white;
	border: 3px solid #fff;
	}	

/*************************************************************************/
/*Reflection Blog One - Dropdown Header Button  */
.dropbtn7 {
    background-color:#ff4da6;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	}

/* Reflection One - Blog Bottom Button*/
input.MyButton2 {
	width: 250px;
	padding: 20px;
	cursor: pointer;
	font-weight: bold;
	font-size:110%;
	background-color:#ff4da6;
    color: black;
	border: 3px solid black;
	border-radius: 5px;
	float: right;
	}
input.MyButton2:hover {
	background-color: brown;
	color: white;
	border: 3px solid #fff;
	}

/*************************************************************************/
/* MAIN DROPDOWN CODE*/
.dropdown {
    position: relative;
    display: inline-block;
	}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
	}	

.dropdown:hover .dropbtn {
    background-color: #00e600;
	}
/**********************************************************************/
/* HOME PAGE ICON BAR*/

.icon-bar {
    width: 90px; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
	}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
	}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
	}

.active {
    background-color: #4CAF50; /* Add an active/current color */
	}

/******************************************************/
/* PAGE FOOTER*/
.footer {
	text-align: center;
	font-weight: bold;
	position: static;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #000;
	}
/******************************************************/